@import './variables.scss';

.main-education {
    padding: 3.1rem;

    h2 {
        color: $color-3;
    }

    @include for-tablet-laptop {
        padding: 0 $p-desktop;
        margin-bottom: $m-bottom;
    }
}

.education-content {
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.6rem;

    img {
        width: 100%;
    }

    .education-section {
        border-left: 0.19rem solid $color-2;
        padding-left: 0.5rem;
    }

    h3 {
        margin-top: 0;
        color: $color-2;

        span {
            color: lighten($color: $color-1, $amount: 70);
            display: block;
        }
    }

    h4 {
        color: $color-3;
        margin-bottom: 0.2rem;

        span {
            color: $color-1;
            display: block;
        }
    }

    p {
        margin: 0;
    }

    @include for-tablet-laptop {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
            width: 30%;
            height: 30%;
        }

        .education-items {
            display: flex;
            gap: 2rem;

            .education-section {
                border: none;
                background-color: white;
                padding: 1.5rem;
                border-radius: 0.6rem;
            }
        }
    }
}