@import './variables.scss';

.main-description {
    padding: 3.1rem;

    .description {
        h2 {
            color: $color-3;
        }   
    
        p {
            margin: 0;
            font-weight: $light;
            text-align: justify;
            color: lighten($color: $color-1, $amount: 70);
        }

        button {
            @include button-1;
            margin-top: 4rem;
        }
    }

    .description-items {
        display: none;
    }

    @include for-desktop-only {
        padding: 0 $p-desktop;
        margin-bottom: $m-bottom;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .description {
            width: 50%;
            padding-right: 10rem;
            border-right: 0.1rem solid $color-3;

            h2 {
                margin-bottom: 2rem;
            }
        }

        .description-items {
            width: 40%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;

            .box-item {
                padding: 2rem;
                border-radius: 0.6rem;
                background-color: white;

                h3 {
                    color: $color-3;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}