@import './variables.scss';

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 3.1rem 3.1rem;
    background-color: $color-2;
    color: $color-3;
    position: fixed;
    z-index: 1000;

    a {
        display: none;
    }

    .nav-title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: $color-3;
            margin: 0;
        }

        p {
            color: $color-4;
            margin: 0;
        }

        svg {
            display: none;
        }
    }

    .nav-items {
        display: flex;
        align-items: center;

        a {
            margin-left: 6rem;
            cursor: pointer;
        }

        svg {
            width: 24px;
            height: 24px;
            margin: 16px 0;
        }
    }

    @include for-phone-only {
        display: flex;
    }

    @include for-tablet-only {
        padding: 1.5rem 5.1rem 0 5.1rem;

        .nav-items {
            a {
                display: block;
                color: $color-4;
            }

            svg {
                display: none;
            }
        }
    }

    @include for-desktop-only {
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 10rem 1.2rem 10rem;
    }

    
}
    

    
