@import './variables.scss';

#main-project {
    margin: 3.1rem;

    h2 {
        color: $color-3;
        margin-bottom: 1rem;
    }

    @include for-tablet-laptop {
        margin: 0 $p-desktop;

        h2 {
            margin-bottom: 2rem;
        }
    }
}

.project-content {
    background-color: white;
    border-radius: 0.6rem;
    padding: 2rem;

    p {
        margin: 0;
    }

    .project-items {

        .project-card {
            height: 34rem;
            border-radius: 0.6rem;
            background-color: $color-2;
            overflow: hidden;
        }
    }

    @include for-tablet-laptop {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        margin-bottom: $m-bottom;

        .project-info {
            width: 20%;
        }

        .project-items {
            width: 70%;
            display: grid;
            grid-template-columns: repeat(auto-fit, 22rem);
            justify-content: center;
            gap: 2rem;

            .project-card {
                position: relative;
                height: 15rem;
                background-color: $color-1;
            }        

            .project-card-content {
                width: 100%;
                position: absolute;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                color: $color-4;

                p {
                    margin: 0;
                }
            }
        }    
    }
}

