@import './variables.scss';

#main-project {
    margin: 3.1rem;
    justify-content: center;
    align-items: center;

    h2 {
        color: $color-3;
        margin-bottom: 1rem;
    }

    .project-content {

        .project-card {
            width: 20rem;
            height: 70vh;
            padding: 2.5rem;
            border-radius: 1rem;
            background-color: $color-2;
        }

        .project-img {
            width: 20rem;
            height: 16rem;
            background-color: $color-4;
            margin-bottom: 1rem;
        }
        
    }
}

